body {
    background-image: url(https://uploaddeimagens.com.br/images/004/699/204/original/bege.png?1703735731);
    display: flex;
    flex-direction: column;
    position: absolute;
    position: relative;
    text-align: center;
    width: 100%;
    margin: 0;
}

div {
    display: flex;
    font-size: 40px;
    color: white;
    justify-content: center;
    width: 100%;
}

img {
    max-width: 150px;
    border-radius: 100px;
    top: 200px;
    left: 550px;
}

@media screen and (max-width: 500px) {
    div {

        width: 100%;
    }    
}